<%= form_with(model: toy) do |form| %>
  <% if toy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
        <% toy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :store, style: "display: block" %>
    <%= form.collection_select :selected_store_id, Store.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= form.label :maker, style: "display: block" %>
    <%= form.collection_select :selected_maker_id, Maker.all, :id, :name, prompt: '選択してください' %>
  </div>

  <%#
    FIXME: The following error occurred if I don't give buyable_id and buyable_type as a form. 
      - Mysql2::Error: Column 'buyable_type' cannot be null
  %>
  <%= form.hidden_field :buyable_id, value: 1 %>
  <%= form.hidden_field :buyable_type, value: "Store" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
