<p style="color: green"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @store.selected_store_id.nil? ? "未設定" : Store.find(@toy.selected_store_id).name %>
</p>

<div>
  <%= link_to "Edit this toy", edit_toy_path(@toy) %> |
  <%= link_to "Back to toys", toys_path %>

  <%= button_to "Destroy this toy", @toy, method: :delete %>
</div>
