<div id="<%= dom_id favorite %>">
  <p>
    <strong>Member:</strong>
    <%= favorite.member_id %>
  </p>

  <p>
    <strong>Toy maker name:</strong>
    <%= favorite.toy_maker_name %>
  </p>

  <p>
    <strong>Toy name:</strong>
    <%= favorite.toy_name %>
  </p>

  <p>
    <strong>Store maker name:</strong>
    <%= favorite.store_maker_name %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= favorite.store_name %>
  </p>

</div>
