
<tr>
  <td><%= user.name %></td>
  <td>
    <%= user.selected_group_id.nil? ? "未設定" : Group.find(user.selected_group_id).name %>
  </td>
  <td><%= link_to "Show", user %></td>
  <td><%= link_to 'Edit', user %></td>
  <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
